.ReactTable input.checkbox {
    -webkit-appearance: checkbox;
    appearance: checkbox;
}

.react-resizable{
    max-width: 100%;
}

.react-dropdown-select-dropdown {
    overflow: initial;
}

.btn {
  margin: 0rem 0.5rem;
}
